export APP_NAME=go-bank-transfer
export APP_PORT=9230

export ENVIRONMENT=development
export SERVICE_URL=127.0.0.1
export ALLOW_SCHEMA=http

export MYSQL_HOST=host.docker.internal
export MYSQL_HOSTNAME=127.0.0.1
export MYSQL_DATABASE=react-go-todo
export MYSQL_PORT=1234
export MYSQL_DRIVER=export mysql
export MYSQL_USER=kouki
export MYSQL_PASSWORD=kouki
export MYSQL_ROOT_USER=root
export MYSQL_ROOT_PASSWORD=kouki

export GO111MODULE=on
export CGO_ENABLED=0
export GOOS=linux
export GOARCH=amd64